<style id='georedirect1581624741367style'>body{opacity:0.0 !important;}</style>
<script>(function(g,e,o,t,l,y,s){
s = function(){g.getElementById('georedirect1581624741367style').innerHTML='body{opacity:1.0 !important;}';};
var l=g.getElementsByTagName(e)[0],y=g.createElement(e); y.async=true;
y.src='//geotargetly-1a441.appspot.com/georedirect?id=-M0-AZqxmHzt4qvs6lJT&refurl='+g.referrer+'&winurl='+encodeURIComponent(window.location);
l.parentNode.insertBefore(y,l); georedirect1581624741367loaded = function(redirect){var to=0;if(redirect){to=500};setTimeout(function(){s();}, to)};
setTimeout(function(){s();}, 3000);})(document,'script','style','head');
</script>