<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>
 
    {% include partials/header.html %}

    {% assign width = page.width | default: 'default' %}
    {% assign sidebar_left = page.sidebar.left %}
    {% assign sidebar_right = page.sidebar.right %}

    {% if width == 'full' %}
      {{ content }}
    {% else %}
      <div class="uk-section{% if page.section %} uk-section-{{ page.section }}{% endif %}">
        <div class="uk-container{% if width %} uk-container-{{ width }}{% endif %}">
          {% if sidebar_left %}
            <div class="uk-flex uk-grid-large" data-uk-grid>
              <div class="uk-width-expand@m">
                {{ content }}
              </div>
              <aside class="uk-width-1-3@m uk-flex-first@m">
                {% include sidebar.html %}
              </aside>
            </div>
          {% elsif sidebar_right %}
            <div class="uk-grid-large" data-uk-grid>
              <div class="uk-width-expand@m">
                {{ content }}
              </div>
              <aside class="uk-width-1-3@m">
                {% include sidebar.html %}
              </aside>
            </div>
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if site.footer.layout == 'columns' %}
      {% include partials/footer-columns.html %}
    {% else %}
      {% include partials/footer-center.html %}
    {% endif %}

    {% include partials/nav-mobile.html %}

    {% include hook-pre-closing-body.html %}
    <script type="text/javascript">
      var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || 
      {widgetcode:"6fc34b07a24c59c09fc1a1ce56873e9b2046a68688534579a2d76d8d66d86035c5e99d22643bee6e15081133d5bfd6ac", values:{},ready:function(){}};
      var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;
      s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");
      </script>
    </body>

</html>
