---
layout: default
---

<article class="uk-article">
  <div class="uk-article-content button-link uk-margin-medium-top-">
    {% if page.share %}
    {% include share.html %}
   
    {{ content }}
    {% endif %}
  </div>
{% include cta.html 
    
    section_size="small"
    section_image="header-6.jpg"
    section_overlay="rgba(0, 0, 0, 0.5)"
    section_container="small"
    section_content_align="center"
    section_content_color="light"
    layout="1"
    block="cta-4"
  %}
  {% if page.mailchimp %}
    <div class="uk-margin-large-top uk-background-muted uk-padding-large">
      <h3 class="uk-margin-remove-top uk-margin-medium-bottom uk-text-center">{{ site.data[site.template].translation[site.lang].newsletter_signup | default: 'Newsletter Signup' }}</h3>
      {% include mailchimp.html %}
    </div>
  {% endif %}

  {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
  {% endif %}
</article>

{% if page.related %}
  {% include related-posts.html %}
{% endif %}
